<h2>All Movies</h2>
<div class="movie-boxes">
    {{#each movies}} 
    <img src="{{this.image}}" alt="{{this.title}}"/>
    <p>{{this.title}}</p>
    <a href="/find-movie/{{this._id}}">See more</a>
    {{/each}};
</div>