body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.landing-page {
  background-image: url("../images/cinema.jpg"), linear-gradient(white, black);
  background-size: cover;
}

.movie-boxes {
  display: flex;
  direction: row;
  flex-wrap: wrap;
}
